# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

.env
.env.old
.env2

# debug
npm-debug.*

# local env files
.env*.local
.env2

# typescript
*.tsbuildinfo

cert.*
